GEMINI_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
EBAY_APP_ID=
TCGPLAYER_PUBLIC_KEY=
TCGPLAYER_PRIVATE_KEY=
CARDMARKET_APP_TOKEN=
CARDMARKET_APP_SECRET=
CARDMARKET_ACCESS_TOKEN=
CARDMARKET_ACCESS_TOKEN_SECRET=
PIPELINE_TARGETS=pokemon,charizard rookie,jordan rookie,trout rookie
